@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

.subject  {
    padding: 48px;
    color: white;
    text-align: center;
    text-decoration: underline;
    font-family: 'Homemade Apple', 'Arial', cursive;
    font-size: 64px!important;
}

.partOfSpeech  {
    padding: 48px;
    color: white;
    text-align: left;
    font-family: 'Homemade Apple', 'Arial', cursive;
}

.definition  {
    padding: 48px;
    font-size: 48px!important;
    color: white;
    text-align: center;
    font-family: 'Homemade Apple', 'Arial', cursive;
}
.definitionsList {
    padding: 16px;
    margin: 32px;
    color: white;
    text-align: left;
}

.definitionsItem {
    font-size: 32px;
    font-family: 'Homemade Apple', 'Arial', cursive;
}
.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    trasform: translate(-50%, -50%);
}

