.searchBox {
    background: url('./images/books.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.dictionaryEntry {
    background: url('./images/board.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}